@import '../../ui/styling/helpers';

.full_page {
    height: 100vh;
    width: 100%;

    transition: background-color .3s ease-out;
    @media (prefers-color-scheme: dark) {
        background-color: #333;
    }
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.motivation {
    margin: auto;

    color: #333;
    font-family: 'Futura';
    font-size: 7rem;
    @include phone-only {
        font-size: 4rem;
    }

    transition: color .3s ease-out;

    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}
