@import '../../../../../ui/styling/helpers';

.local-exercise {

}

.error {
    padding: 1rem;
    border: red solid 2px;
}

.big_red_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin: auto;
    border-radius: 50px;
    background: red;

    &[data-disabled] {
        display: none;
    }
}
