@import '../../styling/helpers';

.code_block {
    padding: 1rem;
    background-color: lightgrey;
    counter-reset: line;

    code {
        counter-increment: line;
        display: block;

        &::before {
            content: counter(line);
            margin-right: 1rem;
        }
    }
}
